#______________________ PORT ________

PORT=8000

#_____________________ MONGODB URI __________

MONGODB_URI=mongodb://127.0.0.1:27017

#_____________________ MONGODB END __________

#____________________ CLIENT ORIGINS ____________

CLIENT_URI_1=http://localhost:5173
# CLIENT_URI_2=http://localhost:5174
# CLIENT_URI_3=http://localhost:5175

#____________________ CLIENT ORIGINS END ____________

#__________________ JWTs __________________

ACCESS_TOKEN_SECRET=***********
REFRESH_TOKEN_SECRET=***********
REFRESH_TOKEN_EXPIRY=15d
ACCESS_TOKEN_EXPIRY=1d

#_________________ JWTS END _______________


#_________________ REDIRECT URL _______________-

CLIENT_EMAIL_VERIFIED_REDIRECT_URL=http://localhost:5173/login


#_________________ GOOGLE OAUTH CREDENTIALS

GOOGLE_CLIENT_ID= ***********

GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/user/auth/google/callback

GOOGLE_CLIENT_SECRET= ***********

CLIENT_SSO_REDIRECT_URL=http://localhost:5173/auth/callback


#_________________ Cloudinary API ______________

CLOUDINARY_API_KEY= ***********

CLOUDINARY_API_SECRET= ***********

CLOUDINARY_CLOUD_NAME= ***********

CLOUDINARY_CLOUD_ID=***********

CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@da2rl537s

#_________________ Cloudinary API VARS END __________________



#_________________ MAILGUN API ___________________


API_KEY =***********

MAILGUN_SMTP_HOST=smtp.mailgun.org
MAILGUN_SMTP_PORT=587
MAILGUN_SMTP_USER=***********
MAILGUN_SMTP_PASS=***********

#_________________ MAILGUN API END _________________

#_________________ FORGET PASSWORD REDIRECT URL ____________

FORGOT_PASSWORD_REDIRECT_URL=http://localhost:5173/reset-password


#__________________ MAILTRAP_______________

MAILTRAP_SMTP_HOST=live.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=587
MAILTRAP_SMTP_USER=***********
MAILTRAP_SMTP_PASS=***********





GOOGLR_SMTP_HOST=smtp.gmail.com
GOOGLE_SMTP_PORT=587
GOOGLR_SMTP_USER=***********
GOOGLE_SMTP_PASS=***********

